#dealer-card-display {
    top: 185px;
    left: 606px;
    height: 125px;
    width: 500px;
    position: absolute;
    z-index: 3;
}

function isTheHandAThreeOfAKind(hand) {
    return new Set(hand.map(card => card.charAt(0))).size === 1;
}

/* function _highlightTables(hand, numberOfCards) {
    const TABLE_ROWS_FOR_HIGHLIGHT = {
        "straightFlush": ["pprow1", "abrow1"],
        "flush": ["pprow4"],
        "straight": ["pprow3", "abrow3"],
        "threeOfAKind": ["pprow2", "abrow2"],
        "pair": ["pprow5"],
    }
    const TABLE_ROWS_FOR_6CB_HIGHLIGHT = {
         "royalFlush": "#sixcbrow1",
         "straightFlush": "#sixcbrow2",
         "fourOfAKind": "#sixcbrow3",
         "fullHouse": "#sixcbrow4",
         "flush": "#sixcbrow5",
         "straight": "#sixcbrow6",
         "threeOfAKind": "#sixcbrow7",
    }
    if (numberOfCards === 3) {
        TABLE_ROWS_FOR_HIGHLIGHT[hand].forEach(row => {
        $(`#${row}`).addClass("highlight");
        }
    }
    $(TABLE_ROWS_FOR_6CB_HIGHLIGHT[hand]).addClass("highlight");
} */

function _highlightTables(hand, numberOfCards) {
    const TABLE_ROWS_FOR_HIGHLIGHT = {
        "straightFlush": ["pprow1", "abrow1"],
        "flush": ["pprow4"],
        "straight": ["pprow3", "abrow3"],
        "threeOfAKind": ["pprow2", "abrow2"],
        "pair": ["pprow5"],
    };
    const TABLE_ROWS_FOR_6CB_HIGHLIGHT = {
        "royalFlush": "#sixcbrow1",
        "straightFlush": "#sixcbrow2",
        "fourOfAKind": "#sixcbrow3",
        "fullHouse": "#sixcbrow4",
        "flush": "#sixcbrow5",
        "straight": "#sixcbrow6",
        "threeOfAKind": "#sixcbrow7",
    };
    if (numberOfCards === 3) {
        TABLE_ROWS_FOR_HIGHLIGHT[hand].forEach(row => {
            $(`#${row}`).addClass("highlight");
        })
    } else if (numberOfCards === 6) {
    $(TABLE_ROWS_FOR_6CB_HIGHLIGHT[hand]).addClass("highlight");
    }
}


// _highlightTables(_determineHandType(["5D", "6H", "4S"]));
// _highlightTables(_determineHandType(["JC", "JH", "JD"]));
// _highlightTables(_determineHandType(["KH", "5H", "2H"]));

playerHand = ["2C", "7H", "8S"];
dealerHand = ["2H", "7S", "9C"];
console.log(didPlayerWinHighCardTieBreaker() === false);

playerHand = ["2C", "7H", "9S"];
dealerHand = ["2H", "8S", "9C"];
console.log(didPlayerWinHighCardTieBreaker() === false);

playerHand = ["2C", "7H", "9S"];
dealerHand = ["3H", "7S", "9C"];
console.log(didPlayerWinHighCardTieBreaker() === false);

playerHand = ["2C", "7H", "9S"];
dealerHand = ["2H", "7S", "8C"];
console.log(didPlayerWinHighCardTieBreaker() === true);

playerHand = ["2C", "8H", "9S"];
dealerHand = ["2H", "7S", "9C"];
console.log(didPlayerWinHighCardTieBreaker() === true);

playerHand = ["3C", "7H", "9S"];
dealerHand = ["2H", "7S", "9C"];
console.log(didPlayerWinHighCardTieBreaker() === true);

playerHand = ["3C", "7H", "9S"];
dealerHand = ["3H", "7S", "9C"];
console.log(didPlayerWinHighCardTieBreaker() === false);

replace #e2cf00 with #F8B400
replace #ffffff with #FAF5E4
replace #000000 with #2A0944
replace #d40000 with #A10035
reaplce #666666 with #125B50